---
	import Layout from "../layouts/Layout.astro";
	import "../styles/global.css";
	import Topnav from "../components/topnav.astro";
---

<Layout>
	<Topnav />
	<h1 class="text-white">Hello, world!</h1>
</Layout>