---
 import { Icon } from "astro-icon/components";
---

<div class="bg-[#D9D9D9] m-3 rounded-md text-black inset-x-0 bottom-0 w-80% h-16 absolute left-0 flex justify-between items-center">
    <a href="https://github.com/Forthamos11/firma-website" target="_blank" rel="noopener noreferrer" class="text-black pl-5">
        <Icon name="github-mark" class="scale-200" />
    </a>
    <p class="p-10 text-xs">made by Jannis, Philip and Maxi :3</p>
</div>