---
 import { Icon } from "astro-icon/components";
---
<div class="flex justify-left items-center w-80% h-16 bg-[#D9D9D9] m-3 rounded-md text-black">
        <a href="/">
            <Icon name="logo" class="pl-2" />
        </a>
        <a href="/about" class="text-black pl-5">
            <p>Über uns</p>
        </a>
        <a href="/order" class="text-black pl-5">
            <p>Bestellen</p>
        </a>
        <a href="/contact" class="text-black pl-5">
            <p>Kontakt</p>
        </a>
        <a href="/stats" class="text-black pl-5">
            <p>Statistiken</p>
        </a>
</div>